In [12]:
from bs4 import BeautifulSoup

import requests
import pandas as pd

In [13]:
link = "https://sportsbook.draftkings.com/leagues/basketball/nba?category=player-points"

In [25]:
page = requests.get(link)
soup = BeautifulSoup(page.content, "html.parser")

In [47]:
all_data = soup.find("div", class_ = "sportsbook-offer-category-card")

tables = all_data.find_all("table")
res = []
for table in tables:
	player_points = table.find_all("tr")
	
	for i, row in enumerate(player_points):
		if i != 0:
			player_name = row.find("span", class_ = "sportsbook-row-name").text.strip()
			player_points = row.find("span", class_ = "sportsbook-outcome-cell__line").text.strip()
			res.append([player_name, player_points])

In [48]:
df = pd.DataFrame(res, columns = ["PLAYER_NAME", "SPORTS_BOOK_POINTS"])
df

                 PLAYER_NAME SPORTS_BOOK_POINTS
0               Bones Hyland               11.5
1                 Cedi Osman               14.5
2              Devin Vassell               15.5
3                Ivica Zubac               14.5
4              Jeremy Sochan                2.5
..                       ...                ...
76  Kentavious Caldwell-Pope               10.5
77           Lauri Markkanen               22.5
78        Michael Porter Jr.               14.5
79              Nikola Jokic               26.5
80            Walker Kessler                8.5

[81 rows x 2 columns]